%% -*- erlang -*-
{deps, [
    {jsonx, ".*", {git, "git://github.com/iskra/jsonx.git", "9c95948c6835827ed61a9506ae4a9aba61acf335"}},
    {emysql, "0.4.1", {git, "git://github.com/Eonblast/Emysql.git", {tag, "0.4.1"}}},
    {erlydtl, "0.9.4", {git, "git://github.com/erlydtl/erlydtl.git", {tag, "0.9.4"}}}
]}.
{erlydtl_opts, [
    {doc_root,   "priv/templates"},
    {out_dir,    "ebin"},
    {source_ext, ".dtl"},
    {module_ext, "_view"}
]}.
